# i3blocks config

command=/usr/share/i3blocks/$BLOCK_NAME
separator_block_width=20
separator=false
markup=none

[iface]
instance=tun0
color=#0be96b
interval=5

[target]
command=[ -f "$HOME/.target" ] && grep -q . "$HOME/.target" && cat $HOME/.target || echo
interval=5
signal=10
color=#ff2250

[iface]
instance=eth0
interval=5
color=#cccccc

[time]
command=date '+%d/%m/%Y  %H:%M:%S'
interval=1
color=#cccccc
